[submodule "home/.vim/bundle/delmitmate"]
	path = home/.vim/bundle/delmitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/closetag"]
	path = home/.vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/vim-scripts/supertab.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-css-color"]
	path = home/.vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "home/.vim/bundle/Command-T"]
	path = home/.vim/bundle/Command-T
	url = https://github.com/wincent/Command-T
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/vim-editorconfig"]
	path = home/.vim/bundle/vim-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
