[color]
diff = auto
status = auto
branch = auto
interactive = auto
ui = auto

[alias]
aa = add --all
ap = add --patch
br = branch
st = status
ci = commit
co = checkout
up = pull
df = diff
lg = log -p
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
ls = ls-files
sm = submodule

[merge]
tool = opendiff
summary = true

[core]

[branch]
autosetupmerge = true

[include]
path = ~/.gitconfig.local
[credential]
	helper = cache
